<!-- Page Heading -->
<div class="row">
    <div class="col-xl-12">
      <div class="alert alert-info" role="alert"><h3>Clone Repositories</h3></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="jumbotron">
        <h5>
            <p>Enter the HTTPS URL to any public Git repository of your choice.</p>
            <p>Click on the clone button to copy the repository locally. </p>
            <p>After cloning, you can decompose and analyze microservices.</p>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Git repository URL</span>
          <input type="text" class="form-control" placeholder="https://..." [(ngModel)]="repository">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="submit()">Clone</button>
            </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>
<br>
<div class="row">
    <div class="col-xl-12">
        <div class="alert alert-info" role="alert"><h3>Existing Repositories</h3></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="list-group">
            <a [routerLink]="['/decompose/', repo.id]"  class="list-group-item" *ngFor="let repo of repositories">
                <h4 class="list-group-item-heading">{{repo.name}}</h4>
                <p class="list-group-item-text">{{repo.remotePath}}</p>
            </a>
        </div>
    </div><!-- /.row -->
</div>


