<!-- Page Heading -->
<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            Bootstrap Grid
        </h2>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home'">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-th-list"></i> Component
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card card-block">
            <h4 class="card-title">Default</h4>


            <hr/>

            <h4>Custom icons</h4>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card card-block">
            <p>Select a tab by setting active binding to true:</p>


        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-block">


        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-block">
            <div class="card-title">Tooltip</div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-block">
            <h4>Static arrays</h4>

        </div>
    </div>
</div>