<!-- Page Heading -->
<div *ngIf="isDataAvailable">

  <div class="row">
    <div class="col-xl-12">
      <div class="alert alert-info" role="alert"><h3>Decompose  <b> {{ repository?.name }}</b></h3></div>
    </div>
  </div>

  <br>

  <h3> Repository Information </h3>

  <div class="row">
      <div class="col-lg-12">
          <div class="card card-block">

          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-6">
          <div class="card card-block">
              <p>Select a tab by setting active binding to true:</p>


          </div>
      </div>
      <div class="col-lg-6">
          <div class="card card-block">


          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <div class="card card-block">
              <div class="card-title">Tooltip</div>

          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <div class="card card-block">
              <h4>Static arrays</h4>

          </div>
      </div>
  </div>
</div>
